Package: com.shemeshapps.searchforclubhouse
Name: Search for Clubhouse
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: Search for current groups in Clubhouse
Maintainer: ShemeshApps
Author: ShemeshApps
Section: Tweaks
